POSTGRES_USER=tutorhub
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=tutorhub

JWT_SECRET=your_jwt_secret_key_minimum_32_characters_long
JWT_ISSUER=TutorHubAPI
JWT_AUDIENCE=TutorHubClient
JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7
